$default: #000;

%roboto-700 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 400;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers	});
}
